*{
    border: none;
    padding: 0;
    margin: 0;
}
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.wave {
  position: absolute;
  top: 50;
  left: 0;
  width: 100%;
  height: 100px; /* hauteur de l'onde */
  background-color: #0099ff; /* couleur de l'onde */
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px); /* déplacement de 50px */
  }
  100% {
    transform: translateY(0);
  }
}

.wave {
  animation: wave 8s infinite; /* durée de l'animation : 3 secondes, répétition infinie */
}

.ocean {
    width: 100wh;
    top: 100px;
    height: 300vh; /* Hauteur totale de l'océan */
    background: linear-gradient(to bottom, #0099ff, #001f4d); /* Dégradé de couleur de l'océan */
    position: relative;
}

.surface {
    position: absolute;
    top: 100;
    width: 100%;
    height: 50; /* Surface plus grande */
    background: #ffffff;
    z-index: 10;
}

.character {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rope {
    width: 10px;
    height: 100vh;
    background: #c78e57;
    position: relative;
    top: 0;
    border-radius: 5px;
}

.flashcard {
    position: absolute;
    bottom: 60px;
    left: -50px;
    width: 120px;
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    display: none;
}

.level {
    width: 100%;
    height: 150vh; /* Augmenter la taille de chaque niveau à 150vh */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.5em; /* Agrandir la taille du texte pour correspondre à la taille du niveau */
    text-shadow: 2px 2px 4px black;
    position: absolute;
}

#level1 {
    top: 50vh;
}

#level2 {
    top: 150vh;
}

#level3 {
    top: 320vh; /* Ajuster la position du niveau 3 après les autres */
}


@keyframes waveAnimation {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 100%;
    }
}
    .navbar-custom {
      background-color: #efdec9; /* Couleur jaune personnalisée */
    }